<p id="notice"><%= notice %></p>

<div class="navbar mb-3">
  <div class="h3">
    Editar Oferenda
  </div>

  <div class="float-right">
    <%= link_to "Voltar", offerings_path, class: "btn btn-secondary" %>
  </div>
</div>

<%= render 'form', offering: @offering, submit_label: 'Salvar' %>
