<div class="navbar">
  <div class="h3 float-left">
    Nova Oferenda
  </div>

  <%= link_to 'Voltar', offerings_path, class: 'btn btn-secondary float-right' %>
</div>


<%= render 'form', offering: @offering, submit_label: 'Salvar' %>
