<div class="navbar">
  <div class="h3 float-left">
    Novo Gestor
  </div>

  <%= link_to 'Voltar', managers_path, class: 'btn btn-secondary float-right' %>
</div>

<%= render 'form', user: @user %>
