<%= form_with(model: harvest) do |form| %>
  <% if harvest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(harvest.errors.count, "error") %> prohibited this harvest from being saved:</h2>

      <ul>
        <% harvest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

Aqui vai fazer uma nova colheita
<% end %>
